<mat-card class="level-tile">
  <img mat-card-image
    [src]="level?.thumbnail"
    [alt]="level?.title">
  <mat-card-content>
    <h2>{{level?.title}}</h2>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="accent" (click)="loadLevel()">LOAD</button>
  </mat-card-actions>
</mat-card>
