:host {
    width: 100%;
    height: 100%;
}

.title {
    margin-left: 32px;
}

.nav-button {
    display: none;
}

.navigation-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.nav-list-container {
    display: block;
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: auto;
}

mat-sidenav-container {
    height: 100%;
    flex-grow: 1;
}

router-outlet {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px){
    .nav-button {
        display: block;
    }

    .nav-list-container {
        display: none;
    }
}
