<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="nav-button"
        (click)="sidenav.toggle()"
        mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title">$TONY</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="navigation-container">
    <div class="nav-list-container">
        <mat-list>
            <mat-list-item *ngFor="let navItem of navItems">
                <button mat-button [routerLink]="navItem.path">{{ navItem.title }}</button>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" closed>
            <mat-list>
                <mat-list-item *ngFor="let navItem of navItems">
                    <button mat-button [routerLink]="navItem.path">{{ navItem.title }}</button>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
