:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/assets/tony-coin-graph.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}

mat-card {
    margin: 16px 8px 8px 8px;
    max-width: 650px;
    height: fit-content;
}

.full-width-field {
    width: 100%;
}

.tony-coin-img {
    width: 256px;
    height: 256px;
    animation-name: tony-coin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.tony-coin-img {
    width: 256px;
    height: 256px;
    animation-name: tony-coin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.animation-delay {
    animation-delay: .2s;
}

.coin-container {
    margin-top: 32px;
}

.coin-container img {
    margin: 0 32px;
}

.subheader {
    padding: 8px;
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 100%;
}

@media (max-width: 650px) {
    .tony-coin-img {
        width: 64px;
        height: 64px;
    }
}

@keyframes tony-coin {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}