<div class="header-container">
    <h1>Select a new beamng level</h1>

    <h2>Current Level on Server: {{ currentLevel }}</h2>
</div>

<div class="spinner-container"
    *ngIf="levelData.length === 0">
    <mat-spinner></mat-spinner>
</div>

<mat-grid-list #grid [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let level of levelData">
        <app-level-tile [level]="level"
            (levelChanged)="onLevelChanged($event)">
        </app-level-tile>
    </mat-grid-tile>
</mat-grid-list>
